p{
    margin-top: 10px;
}

.button{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(65, 104, 37);
    color: white;
    border-radius: 5%;
    border: none;
    margin-top: 15px;
    width: 260px;
    height: 35px;
}