.butt{
    width: 50px;
    height: 20px;
    background-color: rgb(65, 104, 37);
    border: none;
    color: white;
    border-radius: 10%;
    margin-left: 10px;
}

.f{
    display: flex;
    margin-top: 10px;
}

.cont{
    margin-top: 20px;
}

input{
    border: none;
    height: 20px;
}