ul{
  display: flex;
  padding: 20px;
  margin-right: 10px;

}
li{
  margin-left: 40px;
  list-style-type: none;

}
a{
  text-decoration: none;
  font-size: 20px;
  color:rgb(65, 104, 37);
}
a:hover{
  font-weight: 600;
  border-bottom: 3px solid rgb(72, 97, 54);
}
nav{
  justify-content: center;
  padding: 20px ; 
  background-color: rgb(194, 244, 178);
  display: flex;

}
.main{

  display: flex;
  justify-content: center;

  margin: 0 auto;
  height: 100vh;
  width: 1100px;
}

.fr{
  margin-left: 750px;
  display: flex;
  img{
    margin-top: -5px;
    width: 55px;
    height: 60px;
  }
  h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 20px;
  color:rgb(65, 104, 37);
  }
}